[submodule "loaders/xor_armagen_loader_fb0sh"]
	path = loaders/xor_armagen_loader_fb0sh
	url = https://github.com/fb0sh/xor_armagen_loader_fb0sh.git
[submodule "loaders/empty_armagen_loader_author"]
	path = loaders/empty_armagen_loader_author
	url = https://github.com/fr33t/empty_armagen_loader_author